

:root {
  --cor-de-fundo: #ffcdf4;
  --branco: #000000;
  --botao-ativo:#ffffff;
  --botao-inativo: rgba(172, 0, 72, 0.5);
  --texto-fundo: rgb(148, 0, 49);
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco);
  font-family: 'Chakra Petch', sans-serif;
}
.meus-objetivos  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 25 auto;
}
.botao {
  background-color: var(--botao-inativo);
  color: var(--branco);
  display: flex;
  justify-content: center;
  padding: 1em;
  font-size: 20px;
  align-items: center;
  width: 100%;
  border-bottom: 50px solid var(--botao-ativo);
  border-left: 50px solid var(--botao-ativo);
  border-right: 50px solid var(--botao-ativo);
  border-top: none;
  border-radius:  52px; 
}

